body {
    width: 70%;
    height: auto;
    background-color: #33CCCC;
    font-size: 18px;

}

.foto {
    border-radius: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: floralwhite;
}

.main__job {
    flex-wrap: wrap;
}

footer {
    background-color: rgb(255, 123, 0);
    margin: 0;
}
